@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Serif&family=Secular+One&family=Source+Code+Pro&family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background: url(' bg.jpg'); */
  background-image: linear-gradient(#02aab0, #00cdac);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 100vh;
}
.sidebar {
  position: absolute;
  /* background-color: rgb(184, 184, 184); */
  /* background-color: #dd7777; */
  background-image: linear-gradient(-45deg, #dd7777, 50%, #e73737 100%);
  /* width: 434px; */
  font-family: "Fira Sans", sans-serif;
  height: auto;
  min-height: 100vh;
  transition: transform 0.3s ease-in;
}
.sidebar nav {
  padding: 40px;
  margin-top: 23px;
}
.sidebar nav li {
  list-style: none;
  font-size: 27px;
  padding: 30px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.sidebar nav li a:hover {
  color: whitesmoke;
}
.main {
  /* background-color: yellow; */
  width: 125vw;
}

.container {
  display: flex;
}

.infoContainer {
  /* background-color: rgb(0, 238, 255); */
  height: 63vh;
  width: 80vw;
  margin: 85px auto;
  display: flex;
  justify-content: space-around;
}
.devInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
}
.hello {
  font-size: 50px;
  font-family: "PT Serif", serif;
  margin-left: 70px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.name {
  font-size: 50px;
  font-weight: bolder;
  font-family: "PT Serif", serif;
  margin-left: 70px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.about {
  font-size: 25px;
  margin: 10px 0;
  margin-left: 70px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.moreabout {
  font-size: 18px;
  margin: 13px 0;
  margin-left: 70px;
  font-family: "PT Serif", serif;
  font-weight: bolder;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.buttons {
  margin-left: 70px;
}
.buttons button {
  font-size: 17px;
  font-family: "Secular One", sans-serif;
  padding: 8px;
  margin-right: 19px;
  margin-top: 26px;
  border-radius: 3px;
  color: whitesmoke;
  /* background-color: rgb(185, 255, 255); */
  /* background-color: #d46464; */
  background-image: linear-gradient(-45deg, #dd7777, 50%, #e73737 100%);
}
.buttons button:hover {
  cursor: pointer;
  background-image: linear-gradient(-45deg, #ffffff, 50%, #ffffff 100%);
  color: #e73737;
  
}
.devPic img {
  height: 63vh;
}

/* contact */
.contactform {
  padding: 0 34px;
  padding-top: 50px;
  font-family: "PT Serif", serif;
  margin-left: 230px;
}
.contactform h1 {
  font-family: "Fira Sans", sans-serif;
  padding: 12px 0;
  /* text-align: center; */
  margin-bottom: 37px;
  text-decoration: underline black 3px;
  font-size: 35px;
}
/* .contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
} */
.form-label {
  font-size: 23px;
}
.form-control {
  width: 350px;
  padding: 4px;
  margin-left: 20px;
}
.mb-3 {
  padding: 15px 0;
  font-weight: bolder;
  font-size: 17px;
}
#emailHelp {
  margin-top: 19px;
  font-size: 15px;
  color: rgb(109, 109, 109);
}
.form-check-input {
  margin-right: 7px;
}
.contactbtn {
  margin-left: 0px;
}

/* blog */
.blogContainer h1 {
  font-family: "Fira Sans", sans-serif;
  margin: 50px;
  margin-top: 80px;
  text-decoration: underline 3px;
  margin-left: 270px;
  font-size: 35px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.blogItem {
  margin: 50px;
  margin-left: 270px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.blogItem h2 {
  font-family: "PT Serif", serif;
  font-size: 26px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.blogItem p {
  font-family: "Fira Sans", sans-serif;
  margin-top: 18px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.blogbtn {
  margin-left: 0px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

/* .readMoreGo{
  display: none;
}
.readMore{
  font-family: "Fira Sans", sans-serif;
  margin-top: 18px;
} */

/* .blogImg{
  display: flex;
  justify-content: center;
} */
.blogImg img {
  margin-top: 30px;
  margin-right: 150px;
  width: 400px;
  height: auto;
}
.sub {
  font-family: "Fira Sans", sans-serif;
}

/* myself */
.myself h2 {
  font-family: "PT Serif", serif;
  margin: 20px 25px;
  margin-top: 55px;
  text-decoration: underline;
  margin-left: 270px;
  font-size: 35px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.myself p {
  font-family: "Fira Sans", sans-serif;
  margin: 25px;
  margin-left: 270px;
  font-size: 19px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.skillContainer {
  margin: 25px;
  font-family: "Fira Sans", sans-serif;
  margin-left: 270px;
  font-size: 19px;
  margin-top: 50px;
}
.skillItem {
  display: flex;
  align-items: center;
  margin: 25px 0;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.skill {
  position: absolute;
  margin: 7px;
  width: 290px;
  height: 15px;
  left: 490px;
  border: 2px solid black;
}
.hundred {
  width: 225px;
  /* background-color: rgb(255, 94, 36); */
  background-color: rgb(43, 255, 0);
}
.s5 {
  width: 200px;
  /* background-color: rgb(7, 143, 255); */
  background-color: rgb(43, 255, 0);
}
.fifty {
  width: 180px;
  background-color: rgb(230, 96, 63);
  /* background-color: yellow; */
}
.t5 {
  width: 180px;
  /* background-color: rgb(255, 30, 0); */
  background-color: rgb(255, 255, 0);
}
.ps {
  width: 200px;
  background-color: yellow;
}
.lr {
  width: 165px;
  /* background-color: greenyellow; */
  background-color: rgb(230, 96, 63);
}
.va {
  width: 210px;
  /* background-color: rgb(13, 194, 226); */
  background-color: rgb(43, 255, 0);
}
.emptyBox {
  position: absolute;
  margin: 7px;
  width: 260px;
  height: 15px;
  left: 490px;
  border: 2px solid black;
  z-index: -10;
}

.myProjects {
  margin-left: 270px;
}
.myProjects h2 {
  margin-left: 0px;
}
.gallery {
  width: 370px;
  height: auto;
  float: left;
  margin: 30px 20px;
  border: black solid 2px;
  /* padding: 4px; */
  /* margin-left: 270px; */
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.gallery:hover {
  transform: scale(1.1);
  transform-origin: center;
  transition: transform 400ms ease-out;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  background-color: whitesmoke;
  padding: 15px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  text-align: start;
}
.desc h3 {
  font-family: "PT Serif", serif;
  margin-bottom: 7px;
}


/* Services */
.services h1{
  font-family: "Fira Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 80px;
  text-decoration: underline;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.servicesContainer{
  margin-left: 250px;
  margin-top: 60px;
}
.serviceBox{
  border: black solid 2px;
  width: 300px;
  height: 300px;
  float: left;
  margin: 30px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0 27px #2dd9df; 
  cursor: pointer;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}
.serviceBox:hover{
  background-image: linear-gradient(-45deg, #dd7777, 50%, #e73737 100%);
}
.serviceBox img{
  transform: translate(80px, -60px);
}
.serviceBox h2{
  text-align: center;
  margin-top: -40px;
  margin-bottom: 20px;
  font-family: "PT Serif", serif;

}
.serviceBox p{
  text-align: center;
  font-family: "Fira Sans", sans-serif;

}

/* payment */
.payment{
  /* position: absolute; */
  margin-top: 850px;
  
}
.payment h1, .payment h2{
  font-family: "Fira Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  text-decoration: underline;
}
.payment h2{
  margin-top: 30px;
  text-decoration: none;
}
.paymentMethod{
  /* text-align: center; */
  margin-left: 22%;
  background-color: white;
  width: 900px;
  padding-bottom: 50px;
  border-radius: 23px;

}
.paymentMethod h2{
  padding: 30px 0;
  margin-left: 0;
  color:#009b81;

}
.cards{
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.card{
  background-image: linear-gradient(#02aab0, #00cdac);
  padding: 0 20px;
  margin: 0 12px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  border: 2px black solid;
  width: 190px;
  padding-bottom: 20px;
  cursor: pointer;
  
}
.cardIcons{
  font-size: 23px;
  margin-top: 30px;
}
.card h3{
  margin-top: 35px;
}

.paymentInfo{
  background-color: white;
  width: 900px;
  margin-left: 22%;
  padding-bottom: 30px;
  margin-bottom: 100px;
  border-radius: 23px;
}
.paymentInfo h2{
  padding: 30px 0;
  margin-left: 0;
  color:#009b81;
}
.custInfo{
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-left: 5%;
}
.custInfo .form-label{
  font-size: 17px;
  font-family: "Fira Sans", sans-serif;
}
#email{
  margin-left: 35px;
}
.creditInfo{
  margin-left: 5%;
}
.creditInfo .form-label{
  font-size: 17px;
  font-family: "Fira Sans", sans-serif;
}
.exp{
  margin-top: 10px;
}
.form-control-exp{
  width: 70px;
  height: 25px;
  margin-top: 10px;
}
#expirationDate{
  margin-left: 40px;
}
.cvv{
  margin-top: 10px;
}
#cvv{
  margin-left: 100px;
}
#servicesBtn{
  font-size: 16px;
  margin-left: -27px;
  background-image: linear-gradient(#02aab0, #00cdac);
}
#servicesBtn:hover{
  color: white;
  background-image: linear-gradient(-45deg, #dd7777, 50%, #e73737 100%);
}
.servicesBox{
  margin-left: 23px;
  margin-top: 5px;
}





.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.ham {
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
}
.cross {
  margin-left: 170px;
  margin-top: 10px;
}

.footerContainer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: #dd7777; */
  background-image: linear-gradient(-45deg, #cf5959, 50%, #e73737 100%);
  color: white;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}
.icons{
  position: absolute;
  left: 0;
  padding-left: 20px;
}
.icons i{
  padding-left: 15px;
  cursor: pointer;
  width: 40px;
}
.footerContainer p{
  font-family: "Fira Sans", sans-serif;
  display: inline;
  padding-right: 20px;
  padding-left: 5px;
}
.footerContainer a{
  font-family: "Fira Sans", sans-serif;
  padding-left: 5px;
  padding-right: 11px;
  text-decoration: none;
  color: white;
}
#rightsReserved{
  position: absolute;
  right: 0;
  font-family: "Fira Sans", sans-serif;
  padding-right: 11px;
}
#rightsReserved i{
  margin-right: 7px;
}


@media (max-width: 1310px) {
  /* *{
    background-color: rgb(230, 117, 117);
  } */
  .infoContainer {
    flex-wrap: wrap;
  }
  .devPic img {
    width: 240px;
    height: auto;
    margin-top: 30px;
    margin-left: 140px;
  }
  /* .sidebar{
    transform: translate(-443px, 0px);
    position: absolute;
  } */
}

@media (max-width: 200px) {
  .cross {
    margin-left: 0;
  }
}
